<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn88.oss-cn-beijing.aliyuncs.com/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="manifest" href="/manifest.json"/>

    <title>登录</title>

    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>


<div id="login" style="opacity: 0.9" v-cloak>

    <div class="alert alert-success alert-dismissible" v-show="showQQPromot">

        <strong>提示:</strong> 检测你使用QQ内置浏览器访问本网站，为获得更好的浏览体验，建议使用系统浏览器。
        <button type="button" class="btn btn-outline-secondary btn-sm" data-dismiss="alert" style="float: right">
            &times;
        </button>
    </div>

    <div class="row container-fluid">
        <div class="col-md-8 col-xs-6 col-sm-6"></div>
        <div class="col-md-4 col-xs-6 col-sm-6" style="font-size: 20px;color:white;margin-top: 25px;">

            <div style="margin-left: 75px">
                <p class="text-left">笔圈人数：<u>{{userCount}}</u></p>
                <p class="text-left">在线人数：<u>{{onlineCount}}</u></p>
            </div>


        </div>
    </div>


    <div class="login-form" >

        <div class="head-info">
            <p style="font-size: 18px;margin-left: 18px;margin-top: 6px" class="text-left">登陆笔圈 结识PSER</p>
        </div>
        <div class="clear"></div>
        <div class="avtar">
            <img src="img/anonymous.jpg" style="border-radius: 50px" class="img-circle" width="72" height="72"/>
        </div>
        <form>
            <input type="text" v-model="username" class="text" placeholder="用户名">
            <div class="key">
                <input type="password" v-model="password" placeholder="密码" @keyup.enter="enterEvent">
            </div>
            <div class="form-group">
                <input type="checkbox" class="form-check-input" id="rememberMe" v-model="isAutoLogin"> <label
                    for="rememberMe" style="color:white">自动登录</label>
            </div>
        </form>
        <div class="signin">
            <input type="submit" value="登录" @click="login">
        </div>
    </div>
    <div class="copy-rights">
        <p>没有账号？<a href="/register.html" style="font-size: 24px">注册</a> 忘记密码?<a href="/passwordReset.html"
                                                                                style="font-size: 24px">找回</a></p>

        <p>Copyright &copy; 2019.IM </p>
    </div>
</div>

</body>
<script src="https://cdn88.oss-cn-beijing.aliyuncs.com/js/vue.min.js"></script>
<script src="/js/md5.js"></script>
<script src="https://cdn88.oss-cn-beijing.aliyuncs.com/js/jquery.min.js"></script>
<script src="https://cdn88.oss-cn-beijing.aliyuncs.com/js/bootstrap.min.js"></script>
<script src="/js/common.js"></script>
<script src="/js/login.js?v=20190630"></script>

</html>