
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <title>注册</title>

    <!-- Meta-Tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- //Meta-Tags -->

    <link rel="stylesheet" href="css/register.css" type="text/css" media="all">



</head>
<!-- //Head -->

<!-- Body -->
<body>

<h1>密码重置</h1>

<div class="container w3layouts agileits" id="passwordReset">


    <div class="register w3layouts agileits">
        <h2>重置密码</h2>

        <form action="#" method="post">
            <input v-model="email" id="email" type="text" Name="Name" placeholder="邮箱" required="" >

            <div class="send-button w3layouts agileits">

                <input type="submit" value="发送验证码" @click.prevent="generateCode" >

            </div>

            <input v-model="code" id="code" type="text" Name="Password" placeholder="验证码" required="">
            <input v-model="password" id="repeatPassword" type="password" Name="Password" placeholder="新密码" required="" @keyup.enter="resetPassword">
        </form>
        <div class="send-button w3layouts agileits">

            <input type="submit" value="重置密码" @click.prevent="resetPassword">

        </div>

        <div class="send-button w3layouts agileits">

            <input type="submit" value="返回主页" @click.prevent="location='/'">

        </div>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>

</div>

<div class="footer w3layouts agileits">
    <p>Copyright &copy;2019 IM</p>
</div>

</body>
<script src="https://cdn88.oss-cn-beijing.aliyuncs.com/js/vue.min.js"></script>
<script src="/js/md5.js"></script>
<script src="https://cdn88.oss-cn-beijing.aliyuncs.com/js/jquery.min.js"></script>
<script src="https://cdn88.oss-cn-beijing.aliyuncs.com/js/bootstrap.min.js"></script>
<script src="/js/common.js?v=20190625"></script>
<script>
    var passwordRest = new Vue({
        el:"#passwordReset",
        data:{
            email:'',
            code:'',
            password:''
        }
        ,
        methods:{
            generateCode:function () {
                var pattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                if (pattern.test(this.email)){
                    common.ajax.get(common.data.userRestPasswordUrl,function (r) {

                        if (r.success){
                            alert(r.data);
                        }else{
                            alert(r.msg);
                        }
                    },{
                        email:this.email
                    });
                }else{
                    alert("邮件地址不合法");
                }
            }
            ,
            resetPassword:function () {
                var pattern = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                if (!pattern.test(this.email)){
                    alert("邮箱不合法");
                    return;
                }

                if (!this.code){
                    alert("验证码为空");
                    return;
                }

                if (!this.password){
                    alert("密码不能为空");
                    return;
                }

                common.ajax.post(common.data.userRestPasswordUrl,function (r) {
                    if (r.success){
                        alert(r.data);
                    }else{
                        alert(r.msg);
                    }
                },{
                    email:this.email,
                    code:this.code,
                    password:hex_md5(this.password).toLocaleUpperCase()
                });

            }
        }
    })
</script>
</html>